.container{
    
    position: relative;
    
}

.logo{
    height: 0.5px;
    width: 0.5px;
    float: left;
    margin-top: 7.4%;
    margin-left: 6%;
}

.cfrm{
    border: 2px solid gray;
    width: 50%;
    text-align: left;
    float: right;
    margin-top: 6%;
    margin-right: 6%;
}

h1{
    margin-left: 5%;
}

#alt{
    margin-left: 5%;
}

.form{
    text-align: left;
    margin-left: 5%;
}

#btn{
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 5px;
}