
.container{
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 25vh;
}

#no1{
    height: 50px;
    background-color: #F7EC70;
}
#no2{
    height: 50px;
    background-color: #E38F66;
}
#no3{
    height: 100px;
    background-color: #AA445F;
}
#no4{
    height: 100px;
    background-color: #62306D;
}
